<!-- Written by John R. Thurlby May 2018 -->

<div class="container">

  <div class="row">
      <div class="col-xs-12 logo-center" id="top-bar">

        <img src="/assets/images/to-do-list_logo.jpg" alt="todolist" />

      </div> <!-- end class=col-xs-12 logo-center -->
  </div> <!-- end class=row -->

  <div class="row"> <!-- row to display incomplete tasks on the left, completed on right -->

    <div class="col-md-1"></div>

    <center>

      <!-- Left side (incomplete) -->
      <div class="col-md-5">

        <h2 class="itemNotdone">To Do Tasks</h2>

        <div id="todotasks">

          <!-- Dynamically Insert tasks here -->
          {{#each todolist}} <!-- loop thru all todolists -->

            {{#unless this.tododone}} <!-- format only incomplete ones, boolean false -->

              <form action="/todolist/update/{{this.id}}" method="POST">

                <div class="input-group todoDone">
               
                  <li class="form-control todoTrim">{{this.todoitem}}</li>

                  <span class="input-group-btn">
                    <button class="btn btn-success chgtaskButton" type="submit">Complete</button>
                  </span>

                </div> <!-- end class=input-group todoDone -->

              </form> <!-- end form -->

            {{/unless}} <!-- end unless -->

          {{/each}} <!-- end each -->
        
        </div>  <!-- end todotasks -->

      </div> <!-- end class=col-md-5 -->


      <!-- <div class="col-md-1"></div> -->       

      <!-- Right side (completed) -->
      <div class="col-md-5">

        <h2 class="todoDone">Completed tasks!</h2>

        <div id="already_completed">

          <!-- Dynamically Insert completed tasks Here -->
          {{#each todolist}} <!-- loop thru all todolists -->

            {{#if this.tododone}} <!-- format only complete ones, boolean true -->

              <form action="/todolist/delete/{{this.id}}" method="POST">

                <div class="input-group todoDone">

                  <li class="form-control todoTrim">{{this.todoitem}}</li>

                  <span class="input-group-btn">
                      <button class="btn btn-success addtaskButton" id={{id}} type="submit">Delete</button>
                  </span>
              
                </div>  <!-- end class=form-control todoTrim -->
            
              </form> <!-- end form -->
            
            {{/if}} <!-- end if -->
         
          {{/each}} <!-- end each -->

        </div> <!-- end already_completed -->

      </div> <!-- end class=col-md-5 -->

    </center> <!-- end center -->

  </div> <!-- end class=row -->

<br>
<br>

<div class="row"> <!-- row to add a new task -->
  
  <div class="col-xs-12 text-center enter_section">

    <h2 class="text-center" >Add A Task</h2>

    <form action="todolist" method="POST">
      
      <textarea class="form-control" id="name" name="todoitem" placeholder="Task" id="enter_text" maxlength="30" required></textarea>
      <br>
      <textarea class="form-control" id="phone" name="phonenum" placeholder="Phone Number (format: xxxxxxxxxx)" maxlength="10" pattern="^\d{10}$"></textarea>
      <br>
      <button type="submit" class="btn btn-primary addtaskButton" id="text-enter-button">Add Task</button>

    </form> <!-- end form -->

    <p>Enter a new task. Click the "Add Task" button.</p>
    <br>
    <p>If you would like a text of your task, enter a 10 digit phone number.</p>
 
  </div> <!-- end class=col-xs-12 text-center enter_section -->

</div> <!-- end class=row -->

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <p>Some text in the modal.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

	

